@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Raleway:wght@100..900&display=swap');

body {font-weight: 200;
    font-family: "Mulish", sans-serif;
    background-color: rgb(229, 234, 236);}


a:hover{
    color: rgb(20, 166, 250);
}
    h1 {text-align:center;
    font-family: "Raleway", sans-serif;
    font-size: 40px;
text-decoration: underline;
color: cadetblue;}

   


    h2{text-align: center;
    font-family: "Raleway", sans-serif;
font-size: 35px;
color:cadetblue ;}

img {
    width: 20%;
    margin: auto;
    display: block;
    border-radius: 50%;
    
    
}
    h3 { font-family: "Raleway", sans-serif;
    font-size: 20px;
    color: cadetblue;
    background-color:rgb(210, 233, 246) 
    }

    h4{  font-family: "Raleway", sans-serif;
    font-size: 20px;
    color: cadetblue;
    background-color:rgb(210, 233, 246)}